<%- include('../partials/head'); %>

    <h1 class="text-center text-danger mt-4">404</h1>
    <p class="text-center"><a class=" text-primary" href="./">Menu Utama</a></p>

    <%- include('../partials/footer'); -%>